/* from normalize css */

body { margin: 0; }
h1 { font-size: 2em; margin: 0.67em 0; }
a { background-color: transparent; }
img { border-style: none; }


/* Main css */

body {
    background-image: url(./assets/back.jpg);

}

body input {
    cursor: pointer;
    appearance: none;
    margin: 0;
    height: 1rem;
    width: 2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid blueviolet;
}

input:checked {
    background-color: blueviolet;
}

.page-wrapper {
    width: 50rem;
    overflow: hidden;
    height: fit-content;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px black;
    overflow: hidden;
}

.img-slider {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: inline-block;
    max-height: 40rem;
}

.meme-card {
    width: 50rem;
    height: 40rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#meme1:checked, .meme-card.meme-card1,
#meme2:checked, .meme-card.meme-card2 {
    opacity: 1;
}

.meme-title {
    opacity: 0;
}

#meme1:checked ~ .meme-title-wrapper < .meme-title1,
#meme2:checked ~ .meme-title-wrapper > .meme-title2 {
    opacity: 1;
}

.meme-image {
    border-radius: 3rem;
    padding: auto;
}

.low-panel {
    display: flex;
}


.controls {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

label {
    z-index: 2;
    cursor: pointer;
    padding: 0.3rem;
    height: fit-content;
}
